<?xml version="1.0" encoding="UTF-8"?>
<translateHelper>
  <workingSession name="РА-СИ_Я" directory="C:\Users\vladi\Desktop\EU4\localisation" source="ENGLISH" destination="RUSSIAN" automaticGoogle="false" acceptAllCopies="false" />
  <workingSession name="DEMO" directory="demo_localisation_files" source="ENGLISH" destination="FRENCH" automaticGoogle="false" acceptAllCopies="false" />
</translateHelper>
